body{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.nav-bar-name{
    float: left;
    padding: 10px 0;
    font-size: larger;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left:  70px;
    padding-top: 33px;

    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

p{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    margin-left: 200px ;
    margin-right: 200px;
}
.bio-name{
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    font-size: larger;
    margin-left: 200px ;
    margin-right: 200px;
}

.welcome{
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    font-size: larger;
    margin-left: 200px ;
    margin-right: 200px;
}

.portfolio-name{
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    font-size: larger;
    margin-left: 200px ;
    margin-right: 200px;
}
.container2{
    background: #55d6aa;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}
.container2::after{
    content: '';
    display: table;
    clear: both;
}

.nav-bar-footer-socials{
    float: left;
    padding: 10px 0;
    font-size: larger;
    margin-left: 125px;
}

.listfooter{
    margin-right: 125px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 95px;
  }
